<h1> ToDO list</h1>


<form class="task-list__item" [formGroup]="newTask">

  <fa-icon [icon]="faSearch"></fa-icon>

  <input class="item__input input--search"
         type="text"
         placeholder="type text..."
         [formControl]="searchInput">

</form>

<form class="task-list__item" [formGroup]="newTask">

  <input class="item__input item__input--new-item"
         type="text"
         placeholder="new task..."
         formControlName="title">

  <input class="item__input item__input--new-date"
         type="date"
         formControlName="date">

  <!--<mat-form-field>-->
  <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date" type="date">-->
  <!--<mat-datepicker #picker></mat-datepicker>-->
  <!--</mat-form-field>-->

  <!--<button mat-raised-button (click)="picker.open()">Open</button>-->

  <button class="refactors-button refactors-button--add-button"
          type="submit"
          (click)="onAddTask(newTask)"
          [disabled]="newTask.invalid">
    <fa-icon [icon]="faPlus">
    </fa-icon>
  </button>

</form>

<ul class="task-list">
  <!--*ngIf="!loading; else Loading">-->

  <ng-container>
    <!--*ngIf="formArray.length; else noTasks">-->

    <li class="task-list__item"
        *ngFor="let task of tasks | async; let i = index"
        [formGroup]="task"
        [class.task-list__item--completed]="task.value.completed">

      <label class="item__check-icon-folder"
             (click)="toggleComplete(task)">

        <input class="item__checkbox"
               type="checkbox"
               formControlName="completed">

        <fa-icon [icon]="taskState(task.value.completed)">

        </fa-icon>

      </label>

      <input type="text"
             class="item__input"
             formControlName="title">

      <input type="date"
             class="item__input item__input--date"
             formControlName="date">

      <button class="refactors-button refactors-button--complete-edit-button"
              type="submit"
              (click)="onFinishEdit(task, i)">
        <fa-icon [icon]="faComplete">
        </fa-icon>
      </button>

      <button class="refactors-button refactors-button--edit-button"
              type="button"
              (click)="onEdit(i)">
        <fa-icon [icon]="faEdit">
        </fa-icon>
      </button>

      <button class="refactors-button"
              type="button"
              (click)="onDelete(task, i)">
        <fa-icon [icon]="faDelete">
        </fa-icon>
      </button>
    </li>

  </ng-container>
</ul>

<ng-template #Loading class="no-list-paragraph">
  <mat-spinner></mat-spinner>
  <h3>Loading...</h3>
</ng-template>

<ng-template #noTasks>
  <h3 class="no-list-paragraph">No Tasks</h3>
</ng-template>
