@import '~src/main-styles.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 40vw;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: $tasksContainerColor;
  border: $borderWidth solid $borderColor;
  color: $textColor;
  overflow: auto;
}

h1 {
  margin-bottom: 25px;
}

.task-list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  color: $textColor;
  list-style: none;
  width: 100%;
  padding: 0;
}

.task-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 35px;
  padding: 0 10px;
  border-radius: 15px;
  opacity: 0.75;

  &:hover {
    box-shadow: 0 0 0 $borderWidth $borderColor;
    transform: scale(1.01);
    opacity: 1;
  }
}

.item__check-icon-folder {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item__checkbox {
  margin: 0;
  width: 0;
  height: 0;
}

.item__icon-complete {
  color: $borderColor;

  &:hover {
    color: $mildColor;
  }
}

.task-list__item:active .item__icon-complete {
  color: $mildColor;
}

.item__input {
  border: 0;
  outline: none;
  background-color: $tasksContainerColor;
  width: 25vw;
  border-radius: 10px;
  padding: 0 10px;

  &:enabled {
    background-color: lighten($tasksContainerColor, 50%);
  }
}


.item__input--completed {
  text-decoration: line-through;
}

.item__input--date {
  width: 10vw;
}

.item__input--new-date {
  width: 10vw;
  margin-left: 1.3vw;
  margin-right: 1.2vw;
}

.item__input--new-item {
  margin-left: 1.85vw;
}

.task-list__item:active .item__title__input {
  background-color: $darkColor;
}

.refactors-button {
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $textColor;
    background-color: $mildColor;
  }

  &:active {
    transform: scale(0.9);
  }
}

.task-list__item:hover .refactors-button {
  border: $borderWidth solid $borderColor;
}

.refactors-button--add-button {
  margin-right: 2.25vw;
}

.item__input:disabled ~ .refactors-button--complete-edit-button {
  display: none;
}

.item__input:enabled ~ .refactors-button--edit-button {
  display: none;
}

.no-list-paragraph {
  margin-top: 50px;
  text-align: center;
}

.no-list-paragraph > mat-spinner {
  width: 20px;
  height: 20px;
  color: $lightColor;
}

h3 {
  margin-top: 20px;
}
