@import '~src/main-styles.scss';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-list__container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 60vw;
  max-height: 50vw;
  border-radius: 10px;
  flex-direction: column;
  background-color: $tasksContainerColor;
  border: $borderWidth solid $borderColor;
  color: $textColor;
  overflow: auto;
}

.task-list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  color: $textColor;
  padding: 0 20px;
  list-style: none;
}

.task-list__item {
  display: flex;
  align-items: center;
  min-height: 35px;
  padding: 0 10px;
  border-radius: 15px;
  text-decoration: line-through;
  opacity: 0.8;

  &:hover {
    box-shadow: 0 0 0 $borderWidth $borderColor;
    transform: scale(1.02);
  }

  &:active {
    background-color: $darkColor;
    color: $textColor;
    transform: scale(0.98);
    opacity: 1;
  }
}

.task-list__item--completed {
  text-decoration: none;
}

.item__icon-complete {
  color: $borderColor;

  &:hover {
    color: $mildColor;
  }
}

.task-list__item:active .item__icon-complete {
  color: $mildColor;
}


.item__input {
  border: 0;
  outline: none;
  background-color: $tasksContainerColor;
  width: 30vw;
  border-radius: 10px;
  margin-left: 15px;
  padding: 0 10px;

  &:active {
    background-color: $darkColor;
  }

  &:enabled {
    background-color: lighten($tasksContainerColor, 50%);
  }

  &:enabled:active  {
    background-color: $darkColor;
  }
}

.task-list__item:active .item__input:enabled {
  background-color: $darkColor;
}

.item__date {
  font-size: 12px;
  margin-left: auto;
  //margin-right: 15px;
}

.task-list__item:active .item__title__input {
  background-color: $darkColor;
}

.refactors-button {
  outline: none;
  border: $borderWidth solid $borderColor;
  border-radius: 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  visibility: hidden;
  margin-left: 10px;

  &:hover {
    color: $textColor;
    background-color: $mildColor;
  }

  &:active {
    transform: scale(0.9);
  }
}

.task-list__item:hover .refactors-button {
  visibility: visible;
}

.task-list__item:active .refactors-button {
  color: $textColor;
  background-color: $mildColor;
}

.no-list-paragraph {
  text-align: center;
}
