@import '~src/main-styles.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 40vw;
  border-radius: 10px;
  padding: 0 20px;
  background-color: $tasksContainerColor;
  border: $borderWidth solid $borderColor;
  color: $textColor;
  overflow: auto;

}

.task-list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  color: $textColor;
  list-style: none;
  width: 100%;
  padding: 0;
}

.task-list__item {
  display: flex;
  align-items: center;
  min-height: 35px;
  padding: 0 10px;
  border-radius: 15px;
  opacity: 0.75;

  &:hover {
    box-shadow: 0 0 0 $borderWidth $borderColor;
    transform: scale(1.01);
    opacity: 1;
  }
}

.task-list__item--completed {
  text-decoration: line-through;
}

.item__check-icon-folder {
  cursor: pointer;
}

.item__checkbox {
  width: 0;
  height: 0;
}

.item__icon-complete {
  color: $borderColor;

  &:hover {
    color: $mildColor;
  }
}

.task-list__item:active .item__icon-complete {
  color: $mildColor;
}

.item__input {
  border: 0;
  outline: none;
  background-color: $tasksContainerColor;
  width: 30vw;
  border-radius: 10px;
  margin-left: 35px;
  padding: 0 10px;

  &:active {
    background-color: $darkColor;
  }

  &:enabled {
    background-color: lighten($tasksContainerColor, 50%);
  }
}

.item__input--new-item {
  margin-left: 51px;
}

.item__date {
  font-size: 12px;
  margin: 0 auto;
}

.task-list__item:active .item__title__input {
  background-color: $darkColor;
}

.refactors-button {
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  margin-left: 10px;

  &:hover {
    color: $textColor;
    background-color: $mildColor;
  }

  &:active {
    transform: scale(0.9);
  }
}

.task-list__item:hover .refactors-button {
  border: $borderWidth solid $borderColor;
}

.refactors-button--add-button {
  margin-left: auto;
}

.item__input:disabled ~ .refactors-button--complete-edit-button {
  display: none;
}

.item__input:enabled ~ .refactors-button--edit-button {
  display: none;
}

.no-list-paragraph {
  text-align: center;
}
