<h1> ToDO list</h1>

<div class="task-list__item">

  <i class="material-icons">search</i>

  <input class="item__input input--search"
         type="text"
         placeholder="type text..."
         [formControl]="searchInput">

</div>

<form class="task-list__item" [formGroup]="newTaskInput">

  <input class="item__input item__input--new-item"
         type="text"
         placeholder="new task..."
         formControlName="title">

  <input class="item__input item__input--new-date"
         type="date"
         formControlName="date">

  <!--<mat-form-field>-->
  <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date" type="date">-->
  <!--<mat-datepicker #picker></mat-datepicker>-->
  <!--</mat-form-field>-->

  <!--<button mat-raised-button (click)="picker.open()">Open</button>-->

  <button class="refactors-button refactors-button--add-button"
          type="submit"
          (click)="onAddTask(newTaskInput)"
          [disabled]="newTaskInput.invalid">
    <i class="material-icons">add</i>
  </button>

</form>

<ul class="task-list" *ngIf="!(loading | async); else Loading">

  <ng-container *ngIf="tasks; else noTasks">

    <li class="task-list__item"
        *ngFor="let task of tasks | filter: searchInput.value; let i = index"
        [formGroup]="task"
        [class.task-list__item--completed]="task.value.completed">

      <label class="item__check-icon-folder"
             (click)="toggleComplete(task, i)">

        <!--<input class="item__checkbox"-->
        <!--type="checkbox"-->
        <!--formControlName="completed">-->

        <i class="material-icons">{{taskState(task.value.completed)}}
        </i>

      </label>

      <input type="text"
             class="item__input"
             formControlName="title"
             [class.item__input--completed]="task.value.completed">

      <input type="date"
             class="item__input item__input--date"
             formControlName="date"
             [class.item__input--completed]="task.value.completed">

      <button class="refactors-button refactors-button--complete-edit-button"
              type="submit"
              (click)="onFinishEdit(task, i)">
        <i class="material-icons">done</i>
      </button>

      <button class="refactors-button refactors-button--edit-button"
              type="button"
              (click)="onEdit(i)">
        <i class="material-icons">edit</i>
      </button>

      <button class="refactors-button"
              type="button"
              (click)="onDelete(task, i)">
        <i class="material-icons">delete_outline</i>
      </button>
    </li>

  </ng-container>
</ul>

<ng-template #Loading class="no-list-paragraph">
  <mat-spinner></mat-spinner>
  <h3>Loading...</h3>
</ng-template>

<ng-template #noTasks>
  <h3 class="no-list-paragraph">No Tasks</h3>
</ng-template>
